apiVersion: v1
kind: Service
metadata:
  name: todo
  labels:
    app: todo
spec:
  selector:
    app: todo  
  ports:
  - port: 5000
    targetPort: 5000
    name: http
  type: NodePort  # Для доступа извне